/* Helper Styles */

.wrapper {
  max-width: 1280px;
  margin: 0 auto;
}

.flex {
  display: flex;
}

.flex-row {
  flex-direction: row;
}

.to-end {
  justify-content: flex-end;
}

.center {
  text-align: center;
}

.center-mb {
  @media screen and (max-width: $mediaMobile) {
    text-align: center;
  }
}

.section {
  padding: 40px 0;

  @media screen and (min-width: $mediaMobile) and (max-width: $mediaTablet) {
    padding: 50px 0;
  }

  @media screen and (min-width: $mediaTablet) {
    padding: 60px 0;
  }
}

.padding-bottom-sm {
  padding-bottom: 12px;
}
