$duration: 0.5s;
$navUnderlineColour: #15abc5;

.nav-item {
  font-size: 20px;
  line-height: 1.7;

  &:not(:last-child) {
    margin-right: 70px;
  }

  a {
    &.active:after {
      content: '';
      display: block;
      width: 0;
      height: 2px;
      background: $navUnderlineColour;
      width: 100%;
    }

    &::after {
      content: '';
      display: block;
      width: 0;
      height: 2px;
      background: $navUnderlineColour;
      transition: width $duration;
    }
    &:hover::after {
      width: 100%;
    }
  }
}
